parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        - '#^Method RefRing\\MoneroRpcPhp\\Serialization\\BigIntPropertyFinder\:\:findProperties\(\) should return array\{properties\: array\<string\>, listProperties\: array\<string\>\} but returns array\.$#'
        - identifier: missingType.generics

    reportUnmatchedIgnoredErrors: true

includes:
  - vendor/square/pjson/extension.neon
