parameters:
    level: 9
    paths:
        - src
    excludePaths:
            analyse:
                - src/Testing

    reportUnmatchedIgnoredErrors: true

includes:
  - vendor/square/pjson/extension.neon
