<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnDeprecation="false"
         displayDetailsOnTestsThatTriggerDeprecations="true">
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <testsuites>
      <testsuite name="unit">
          <directory>tests/unit</directory>
      </testsuite>

      <testsuite name="integration">
          <file>tests/integration/EmptyBlockchainTest.php</file>
          <directory>tests/integration</directory>
      </testsuite>
  </testsuites>
    <php>
        <env name="WALLET_RPC_URL" value="http://127.0.0.1:18083/json_rpc"/>
        <env name="WALLET_RPC_URL_AUTH" value="http://127.0.0.1:18084/json_rpc"/>
        <env name="DAEMON_RPC_URL" value="http://127.0.0.1:18081/json_rpc"/>
        <env name="DAEMON_RPC_URL_AUTH" value="http://127.0.0.1:18085/json_rpc"/>
    </php>
</phpunit>
